@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

// --- common

html {
    height: 100%;
    font-family: $calibri;
    font-size: $base-font-size;
    color: $main-font-color;
}

body {
    position: relative;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    color: $main-font-color;
    text-decoration: none;
}

p {
    margin: 0;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
    vertical-align: middle;
}

textarea {
    resize: none;
}

input,
select,
button {
    font-size: 16px;
    outline: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.hide {
    display: none;
}

// --- /common
// --- main

.header {
    position: relative;

    .bg {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 600px;
        background: url('../img/tablecloth.jpg') no-repeat;
        background-position: top;
    }

    // &-inner {
    // }

    &-container {
        width: 970px;
        margin: 0 auto;
    }

    &-top-menu {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #dcd4ca;
    }

    &-links {
        display: flex;

        li + li {
            margin-left: 37px;
        }

        a {
            border-bottom: 1px solid #c3bab4;
        }
    }

    &-account {
        display: flex;

        &-location {
            margin-right: 40px;

            &__city {
                margin-right: 5px;
            }
        }

        a {
            border-bottom: 1px dotted #c3bab4;
        }

        img {
            padding-right: 10px;
        }
    }

    &-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        border-bottom: 1px solid #dcd4ca;

        &-search {
            position: relative;

            img {
                position: absolute;
                top: 10px;
                left: 10px;
            }

            input {
                width: 330px;
                height: 35px;
                padding: 0 35px;
                border: 1px solid #e5dfd9;
                border-radius: 20px;

                @include placeholder {
                    color: #b3aaa6;
                }
            }
        }

        &-phone {
            &-number {
                font-family: $georgia;
                font-size: 28px;
                font-style: italic;
                color: $title-color;
            }

            &-callback {
                padding-top: 10px;
                text-align: right;

                a {
                    border-bottom: 1px dotted #c3bab4;
                }
            }
        }
    }

    &-nav {
        display: flex;
        justify-content: space-between;

        &-menu {
            display: flex;
            margin: 24px 0;

            a {
                font-size: 15px;
                font-weight: bold;
                color: $title-color;
                text-transform: uppercase;
            }

            li + li {
                margin-left: 37px;
            }
        }
    }

    &-cart {
        display: flex;
        align-items: center;

        &-basket {
            position: relative;
            margin-right: 7px;
        }

        &-counter {
            position: absolute;
            top: -4px;
            left: 15px;
        }

        &-total {
            position: absolute;
            top: 0;
            left: 23px;
            font-size: 11px;
            font-weight: bold;
            color: #fff;
        }

        &-sum {
            font-size: 17px;
            font-weight: bold;
        }
    }
}

// --- cart

.cart {
    width: 970px;
    margin: 0 auto;

    .checkbox {
        display: none;
    }

    .checkbox-fake {
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid #c4b7b1;
        border-radius: 50%;
    }

    .checkbox-fake::before {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 8px;
        height: 8px;
        content: "";
        background-color: $accent-color;
        border-radius: 50%;
        opacity: 0;
        transition: 0.2s;
        transform: translate(-50%, -50%);
    }

    .checkbox:checked + .checkbox-fake::before {
        opacity: 1;
    }

    &-inform {
        width: 390px;
    }

    &-wrapper {
        width: 1030px;
        margin: 0 auto;
        background: url('../img/white-background.jpg');
    }

    &-container {
        display: flex;
        justify-content: space-between;
        max-width: 970px;
        margin: 0 auto;
    }

    &-title {
        padding-top: 42px;
        font-family: $georgia;
        font-size: 35px;
        font-style: italic;
        font-weight: normal;
        color: $title-color;
    }

    &-subject {
        display: flex;
        margin-top: 35px;
        margin-bottom: 45px;

        &__item {
            width: 195px;
            height: 50px;
            font-size: 15px;
            line-height: 50px;
            color: $title-color;
            text-align: center;
            background-color: #fdfcfa;
        }

        .left {
            border: 1px solid #f0e4ca;
            border-right: none;
            border-radius: 5px 0 0 5px;
        }

        .right {
            border: 1px solid #f0e4ca;
            border-radius: 0 5px 5px 0;
        }

        .active.right {
            background: transparent;
            border: 1px dotted #d15b0a;
            border-left: 1px solid #d15b0a;

            span {
                margin-top: 100px;
                border-bottom: 1px dotted #c3bab4;
            }
        }

        .active.left {
            background: transparent;
            border: 1px dotted #d15b0a;
            border-right: 1px solid #d15b0a;

            span {
                margin-top: 100px;
                border-bottom: 1px dotted #c3bab4;
            }
        }
    }

    &-subtitle {
        margin-bottom: 20px;
        font-family: $georgia;
        font-size: 25px;
        font-style: italic;
        font-weight: normal;
        color: $title-color;
    }

    &-user {
        display: flex;
        justify-content: space-between;
    }

    .cart-form-subtitle {
        padding-bottom: 9px;
        padding-left: 10px;
    }

    input[type="text"] {
        width: 185px;
        height: 35px;
        padding-left: 11px;
        border: 1px solid #c4b7b1;
        border-radius: 3px;

        @include placeholder {
            color: #b3aaa6;
        }
    }

    &-contact {
        display: flex;
        justify-content: flex-start;
        margin-top: 18px;
        margin-bottom: 22px;

        &-mail {
            width: 195px;
            margin-right: 10px;

            &-error {
                padding-left: 10px;
                margin-top: 8px;
                font-size: 11px;
                font-style: italic;
                color: #958781;
            }
        }

        &-number {
            &-phone {
                display: flex;

                &-first {
                    width: 40px;
                    height: 35px;
                    line-height: 34px;
                    text-align: center;
                    border: 1px solid #c4b7b1;
                    border-right: none;
                    border-radius: 3px 0 0 3px;
                }

                input[type="text"] {
                    width: 122px;
                    border-radius: 0 3px 3px 0;
                }
            }
        }
    }

    &-delivery {
        &-country {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;

            select {
                width: 185px;
                height: 35px;
                padding-left: 11px;
                color: #c4b7b1;
                border: 1px solid #c4b7b1;
                border-radius: 3px;
            }

            .subway {
                width: 246px;
            }

            option {
                width: 185px;
                height: 35px;
            }
        }

        &-option {
            margin-bottom: 22px;

            &-item {
                z-index: 100;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 390px;
                height: 72px;
                margin: -1px 1px 0 0;
                cursor: pointer;
                border: 1px dashed #f0e4ca;

                .checkbox-fake {
                    margin: 0 14px;
                }

                &-title {
                    font-size: 17px;
                    color: $title-color;
                }

                &-text {
                    padding-top: 8px;
                    padding-left: 45px;
                    font-size: 13px;
                    color: #c4b7b1;
                }
            }
        }

        .active {
            background-color: #fdfcfa;
            border: 1px solid #f0e4ca;
        }
    }

    &-subtitle-small {
        margin-bottom: 20px;
        font-family: $georgia;
        font-size: 19px;
        font-style: italic;
        font-weight: normal;
        color: $title-color;
    }

    &-map {
        position: relative;
        width: 390px;
        height: 290px;
        margin-bottom: 35px;
        border: 1px solid #f0e4ca;
        border-radius: 3px;
        box-shadow: 0 45px 42px -53px rgba(250, 229, 187, 0.85);

        &-title {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 4;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;
            height: 30%;
            padding: 0 0 24px 24px;
            font-size: 16px;
            color: $title-color;
            vertical-align: bottom;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fdfcfa 50%);
        }
    }

    &-comment {
        border: 1px solid #c4b7b1;
    }

    &-pay {
        display: flex;
        justify-content: flex-end;
        margin-top: 28px;
        margin-bottom: 47px;

        &-btn {
            width: 226px;
            height: 47px;
            font-size: 14px;
            font-weight: bold;
            color: $accent-color;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid $accent-color;
            border-radius: 3px;
        }
    }

    &-order {
        width: 390px;
        height: 100%;
        margin-top: 117px;
        border: 1px solid #f0e4ca;
        border-radius: 3px;
        box-shadow: 0 45px 42px -53px rgba(250, 229, 187, 0.85);

        &-product {
            padding-top: 22px;
            padding-right: 22px;
            padding-bottom: 22px;
            padding-left: 22px;
            border-bottom: 1px dashed #f0e4ca;

            h2 {
                margin-bottom: 24px;
                font-family: $georgia;
                font-size: 25px;
                font-style: italic;
                font-weight: normal;
            }

            &-item {
                display: flex;
                justify-content: space-between;

                &-name {
                    width: 190px;
                }
            }

            &-item + .cart-order-product-item {
                margin-top: 17px;
            }
        }

        .subtotal {
            background-color: #fdfcfa;
        }

        .total {
            background-color: #fcfaf5;
            border-bottom: none;

            &-title {
                color: $title-color;
            }

            &-sum {
                font-size: 20px;
                font-weight: bold;
                color: $title-color;
            }
        }
    }
}
// --- /cart

// --- footer
.footer {
    &-wrapper {
        width: 100%;
        height: 302px;
        background: url('../img/footer.jpg') no-repeat;
        background-position: bottom;
        background-size: cover;
    }

    &-inner {
        display: flex;
        justify-content: space-between;
        width: 970px;
        padding-top: 40px;
        margin: 0 auto;
        border-bottom: 2px solid $accent-color;
    }

    &-item {
        width: 230px;
        margin-bottom: 48px;

        h3 {
            margin-bottom: 12px;
            font-family: $georgia;
            font-size: 17px;
            font-style: italic;
            font-weight: normal;
            color: $title-color;
        }

        a {
            display: block;
            text-decoration: underline;
        }

        a + a {
            margin-top: 6px;
        }

        p + p {
            margin-top: 6px;
        }

        .last {
            margin-bottom: 6px;
        }

        &-inner {
            display: flex;

            &-column {
                margin-right: 26px;
            }
        }

        input {
            width: 186px;
            height: 40px;
            padding: 0 15px;
            border: 1px solid #e5dfd9;
            border-right: none;
            border-radius: 3px 0 0 3px;

            @include placeholder {
                color: #c4b7b1;
            }
        }

        button {
            width: 40px;
            height: 40px;
            font-size: 20px;
            color: #fff;
            cursor: pointer;
            background-color: $accent-color;
            border: none;
            border-radius: 0 3px 3px 0;
        }

        &-form {
            display: flex;
        }
    }

    &-copyright {
        display: flex;
        justify-content: space-between;
        width: 970px;
        margin: 0 auto;

        &-text {
            margin-top: 19px;
            margin-bottom: 19px;
        }

        &-icon {
            display: flex;
            margin-top: 13px;

            a + a {
                margin-left: 8px;
            }
        }
    }
}

input[type="text"]:invalid {
    border: 1px solid red;
}
