// Colors
$white: #fff;
$black: #000;
$main-font-color: #766259;
$title-color: #461f02;
$accent-color: #ff6900;

// Font
$calibri: 'Calibri', sans-serif;
$georgia: 'Georgia', sans-serif;
$base-font-size: 14px;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1000px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 999px;
